<div class="terms-of-service">
  <%= form_with model: @task, url: tasks_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :description, 'タスク内容' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :start_date, '開始' %>
      <%= f.datetime_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date, '終了' %>
      <%= f.datetime_select :end_date %>
    </div>
    <div class="field">
      <% @categories.each do |category| %>
        <%= f.check_box :category_ids, { multiple: true }, category.id, nil %>
        <%= f.label :category_ids, category.name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.check_box :recurrence, { multiple: true } %>
      <%= f.label :recurrence, "毎週繰り返す" %>
    </div>
    <%= f.submit '登録', class: 'btn btn-primary'  %>
  <% end %>
</div>
