<div class="container">
  <div class="row">
    <% @tasks.each do |task| %>
        <div class="task-list">
        <p><b><%= link_to task.title, edit_task_path(task) %></b></p>
        <p><%= task.description %></p>
        <p>開始：<%= task.start_date.strftime("%m月%d日 %H:%M") %></p>
        <p>終了：<%= task.end_date.strftime("%m月%d日 %H:%M") %></p>
        <p>カテゴリ：
        <% task.categories.each do |category| %>
          <%= category.name %>
        <% end %>
        </p>
        <div class="edit-delete">
          <%= button_to '編集', edit_task_path(task), method: :get, class: 'btn btn-primary' %>
          <%= button_to '完了',
                        task_path(task),
                        method: :delete,
                        data: { confirm: 'このタスクを削除します' },
                        class: 'btn btn-danger' %>
        </div>
      </div>
    <%end%>
  </div> 
</div>
